<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Tracking App</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <!-- <h1 id="eyeTrackingData">Eye Tracking Data: </h1> -->
    <!-- https://www.youtube.com/embed/3jWRrafhO7M?si=bLJzCGBnmifUbO_d-->
    <!-- https://youtube.com/live/sQpCpXPAKHs?feature=share -->
    <!-- https://youtube.com/live/idnMCrc9L5M?feature=share -->
    <!-- https://youtube.com/live/qpMDF4rQ6NU?feature=share -->
    https://youtu.be/cA-8EqF1_LI?si=58HrxYbRicgJprhI

    <iframe width="100%" height="100%" src="https://youtube.com/embed/cA-8EqF1_LI?feature=share?autoplay=1&vq=small" frameborder="0" allowfullscreen allow="autoplay"></iframe>
    <!-- <iframe width="100%" height="100%" src="https://meet.google.com/jqm-mwvn-mdt" frameborder="0" allowfullscreen allow="autoplay"></iframe> -->


    <div class="main " id="main">
        <div class="flex-container" id="c1">
            <div class="oval" id="o1"></div>
            <div class="oval" id="o2"></div>
            <div class="oval" id="o3"></div>
    
    
        </div>
    
        <div class="flex-container" id="c2">
            
            <div class="oval" id="o4"></div>
            <!-- <h1 id="dz">dead zone</h1> -->
    
            <!-- <div class="oval" id="o5">
                <h1>Dead Zone</h1>
            </div> -->
            <div class="oval" id="o6"></div>
        </div>
    
        <div class="flex-container" id="c3">
            <div class="oval" id="o7"></div>
            <div class="oval" id="o8">
                <!-- <h1>Rear View</h1> -->
            </div>
            <div class="oval" id="o9"></div>
        </div>
    </div>  


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // get updates from the server
        socket.on('update_eye_tracking_data', function(data) {
            // document.getElementById('eyeTrackingData').innerText = 'Eye Tracking Data: ' + data.data;
            console.log('got it');
            // document.getElementById('eyeTrackingData').innerText = 'Eye Tracking Data: ' + data.data;
            var objectId = data.data; // objectId is the return from the gaze_id function
            console.log(objectId);
            update(objectId);        
        
        });

        // request updates from the server
        setInterval(function() {
            socket.emit('get_eye_tracking_data');
        }, 100);

        function update(objectId) { // gets objectId from gaze_id() in utils.py
            resetBackgroundColor();
            updateBackgroundColorById(objectId, 'green');
        }

        function updateBackgroundColorById(objectId, newColor) {
            // Get the element with the specified ID
            var element = document.getElementById(objectId);
            // console.log(element);

            // Check if the element exists
            if (element) {
                // Update the background color
                element.style.backgroundColor = newColor;
            } else {
                console.error("Element with ID '" + objectId + "' not found.");
            }
        }


        function resetBackgroundColor() {
            var elements = document.getElementsByClassName("oval");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.backgroundColor = "red";
            }
        }
    </script>
</body>
</html>
