<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Tracking App</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1 id="eyeTrackingData">Eye Tracking Data: </h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // get updates from the server
        socket.on('update_eye_tracking_data', function(data) {
            document.getElementById('eyeTrackingData').innerText = 'Eye Tracking Data: ' + data.data;
        });

        // request updates from the server
        setInterval(function() {
            socket.emit('get_eye_tracking_data');
        }, 100);

    </script>
    <container class="flex-container" id="c1">
        <div class="oval" id="o1"></div>
        <div class="oval" id="o2"></div>
        <div class="oval" id="o3"></div>


    </container>

    <container class="flex-container" id="c2">
        <div class="oval" id="o1"></div>
        <div class="oval" id="o5"></div>
        <div class="oval" id="o3"></div>
    </container>

    <container class="flex-container" id="c3">
        <div class="oval" id="o1"></div>
        <div class="oval" id="o8"></div>
        <div class="oval" id="o3"></div>
    </container>
    


    
</body>
</html>
