*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    
}
.flex-container {
    max-width: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.oval {
    padding: 50px;
    margin-inline: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 199px;
    background: red;
    border-radius: 35%;
    opacity: .4;
}

#c2 {
    height: 120px;
    padding-bottom: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#o5 {
    opacity: 0;
}


